---
# Handlers for webserver role

- name: reload systemd
  ansible.builtin.systemd:
    daemon_reload: true
  become: true

- name: restart backend
  ansible.builtin.systemd:
    name: taskmanager-backend
    state: restarted
  become: true

- name: reload nginx
  ansible.builtin.service:
    name: nginx
    state: reloaded
  become: true

- name: restart nginx
  ansible.builtin.service:
    name: nginx
    state: restarted
  become: true

- name: test nginx configuration
  ansible.builtin.command: nginx -t
  changed_when: false
  become: true

- name: safe restart nginx
  block:
    - name: Test Nginx configuration
      ansible.builtin.command: nginx -t
      register: nginx_config_test
      changed_when: false
      become: true

    - name: Restart Nginx if config is valid
      ansible.builtin.service:
        name: nginx
        state: restarted
      when: nginx_config_test.rc == 0
      become: true
